---
 const personalImageAlt = "Micah Mosomi"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Micah Mosomi a software engineer focused on turning complex challenges into simple, functional solutions. I specialize in full stack development with the MERN stack,<strong
        >with a strong focus on integrating AI for decision-making, automation, and insight generation.</strong
      >.
    </p>

    <p>
      What sets me apart is my mindset: I revolve around problem-solving. I’m the kind of person who reads articles about how businesses navigate challenges not just for inspiration, 
      <strong
        >but to analyze decision making, trade offs, and real world execution</strong
      >.
    </p>

    <p>
      I thrive in environments where there's a gap to fill, a system to rethink, or a product to refine. Whether I’m building an educational platform, developing an internal tool, or optimizing backend logic, <strong
        >I’m constantly thinking about how to make systems smarter, faster, and more useful to real people.</strong
      >. 
    </p>
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>


