/* ABOUT SECTION STYLES*/

.profile-section {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
  .profile-info {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
  }
  
  .status-badge {
    border: 1px solid #1FC9A0;
    padding: 4px 12px;
    border-radius: 9999px;
    color: #ffffff;
    font-size: 14px;
    white-space: nowrap;
  }
  
  .social-links { 
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
  
  
  
  .icon {
    font-size: 18px;
  }
  