@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/*UTILIZING URBANIST FONT*/
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/*UTILITY*/
html{
  scroll-behavior: smooth; /* smooth scrolling */
  font-size: 16px; /* base font size */
  padding-top:30px ;
  font-family: 'Ubuntu', sans-serif;
  background-color: #16192f; /* light background */
  color: #333; /* dark text */
  background-color: rgb(22, 25, 47);
}
body {
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* full height */
  margin: 0; /* remove default margin */
  font-family: 'Urbanist', sans-serif; /* default font */
  background-color: #16192f; /* dark background */
  color: #ffffff; /* white text */
  line-height: 1.6; /* improved readability */
  padding: 0; /* remove default padding */
  box-sizing: border-box; /* include padding and border in element's total width and height */
  overflow-x: hidden; /* prevent horizontal scroll */
  font-size: 16px; /* base font size */
  align-items: center;
  justify-content: center; /* center content vertically */
  padding: 10px;
  
}

main{
  /* main content area */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 25px; /* padding around the content */


}
span{
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  color: #fef08a; /* orange-yellow */
}
p{
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  color: #ffffff; /* white text */
  line-height: 1.6; /* improved readability */
}

section{
  padding: 20px;
  max-width: 800px;
  
}

.title{
  font-size: 40px;
  font-weight: 700;
  color: #ffff; 
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #3a3d50;
  border-radius: 1.5rem;
  color: #fff;
  text-decoration: none;
  background: transparent;
  font-family: sans-serif;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #1a1c34;
  border-color: #fff;
}



/* FOOTER STYLES*/
footer {
  background-color: #16192f; /* dark background */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 14px;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 50%;
}
footer div{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  footer{
    flex-direction: column;
    text-align: center;
    gap: 5px;
  }
}