/* PROJECTS SECTION STYLES*/

.project-card {
    max-width: 1100px;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
  }
  
  .project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
  }
  .project-image-container{
    flex: 0 0 auto;
    width: 300px; 
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  .project-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }
  .project-image:hover {
    transform: scale(1); /* zoom effect on hover */
    
  }
  
  .project-info {
    flex: 1;
    min-width: 260px;
    cursor: pointer;
    
  }
  
  .project-info:hover .project-title {
    background-color: #16192f; /* slightly darker on hover */
    cursor: pointer;
    transform: scale(1.07); /* slight zoom effect */
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white; /* darker text on hover */
  
  }
  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 12px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .tech-stack {
    display: flex;
    gap: 10px;
    margin-bottom: 12px;
    flex-wrap: wrap;
  }
  
  .badge {
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 0.85rem;
    font-weight: 500;
    color: white;
  }
  
  .mongodb {
    background-color: #10b981;
  }
  
  .tailwind {
    background-color: #38bdf8;
  }
  
  .react {
    background-color: #3b82f6;
  }
  
  .project-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 16px;
    color: #cbd5e1;
  }
  
  .project-buttons {
    display: flex;
    gap: 12px;
  }
  
  
  @media (max-width: 768px) {
    .project-content {
      flex-direction: column;
    }
  
    .project-image {
      width: 100%;
    }
  }
  